<div class="form-group">
        <fieldset class="form-group">
                <legend>Art</legend>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" checked>
                    Business
                  </label>
                </div>
                <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                    Private
                </label>
                </div>
        </fieldset>

        <div class="form-group row">
                <label for="example-datetime-local-input" class="col-2 col-form-label">Startdate and time</label>
                <div class="col-2">
                  <input class="form-control" type="datetime-local" value="" id="example-datetime-local-input">
                </div>
        </div>

        <div class="form-group row">
                <label for="example-datetime-local-input" class="col-2 col-form-label">Enddate and time</label>
                <div class="col-2">
                  <input class="form-control" type="datetime-local" value="" id="example-datetime-local-input">
                </div>
        </div>

        <div class="form-group row">
                <label for="example-number-input" class="col-2 col-form-label">Startodometer</label>
                <div class="col-2">
                  <input class="form-control" type="number" placeholder="Enter as number" id="example-number-input">
                </div>
        </div>

        <div class="form-group row" id="endodometer">
                <label for="example-number-input" class="col-2 col-form-label">Endodometer</label>
                <div class="col-2">
                  <input class="form-control" type="number" placeholder="Enter as number" id="example-number-input">
                </div>
        </div>

</div>
