<nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-design">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Logo</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/trip">Fahrtenbuch <fa-icon [icon]="faAddressBook"></fa-icon></a>
    </li>
    <li>
      <a class="nav-link" routerLink="/trip">Live-Tracking <fa-icon [icon]="faMapMarkerAlt"></fa-icon></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/trip">Login <fa-icon [icon]="faSignInAlt"></fa-icon></a>
    </li>
  </ul>
</nav>


