<nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-design">
  <!-- Brand -->
  <a class="navbar-brand" routerLink="/dashboard">Fleetmanagement - MHP</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/logbook">Logbook <fa-icon [icon]="faAddressBook"></fa-icon></a>
    </li>
    <li>
      <a class="nav-link" routerLink="/trip">Trips <fa-icon [icon]="faMapMarkerAlt"></fa-icon></a>
    </li>
    <li>
      <a class="nav-link" href="http://localhost:8081/auth/realms/demo/protocol/openid-connect/logout?redirect_uri=http://localhost:4200">Logout </a>
    </li>
  </ul>
</nav>


