<div class="row">
    <div class="col-12">
      <h1>Logbooks</h1>
    </div>
</div>
<div class="row col-12">
    <div class="input-group mb-3">
        <button class="btn btn-primary mr-3" (click)="showLogbooks()">Show All</button>
        <div class="col-xs-3">
          <input type="string" class="form-control" placeholder="ID" [(ngModel)]="logbookid">
        </div>
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" (click)="showLogbookByID()">Show by ID</button>

        </div>
        <!--<div class="col-xs-3">
          <input type="text" class="form-control" placeholder="ID" [(ngModel)]="logbookDriverLastName">
        </div>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary mybtn" type="button" (click)="showLogbookByDriverLastName()">Show by DriverLastName</button>
        </div>
      </div>-->
    </div>
</div>



<div class="row">
  <div class="col-12 ">
    <div *ngIf="logbooks">
      <h3>All Logbooks</h3>
    

  <div class="table-responsive">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Car</th>
          <th scope="col">Current Driver</th>
          <th scope="col">Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let logbook of logbooks" (click)="onSelect(logbook)">
            <th scope="row">{{logbook.id}}</th>
            <td>{{logbook.car.manufacturer}} {{logbook.car.model}}</td>
            <td>{{logbook.driver.firstName}} {{logbook.driver.lastName}}</td>
            <td><a routerLink="/trip/{{logbook.id}}">Details</a></td>
        </tr>
      </tbody>
    </table>
  </div>
    </div>
         <div *ngIf="logbook">
            <h3>Suchergebnisse</h3>
              <div class="table-responsive">
                 <table class="table table-dark">
                    <thead>
                      <tr>
                          <th scope="col">ID</th>
                          <th scope="col">Car</th>
                          <th scope="col">Current Driver</th>
                          <th scope="col">Details</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr (click)="onSelect(logbook)">
                          <th scope="row">{{logbook.id}}</th>
                          <td>{{logbook.car.manufacturer}} {{logbook.car.model}}</td>
                          <td>{{logbook.driver.firstName}} {{logbook.driver.lastName}}</td>
                          <td><a routerLink="/trip/{{logbook.id}}">Details</a></td>
                      </tr>
                    </tbody>
              </table>
            </div>
          </div>
    </div>
</div>

<div *ngIf="keineergebnisse">
  <div class="row">
    <h4>Keine Ergebnisse auf ihre Suchanfrage!</h4>
  </div>
</div>
