<div class="row">
  <div class="col-12">
  </div>
</div>

<div class="row">
    <div class="input-group mb-3">
        <button class="btn mybtn mr-3" (click)="showLogbooks()">Show All</button>
        <div class="col-xs-3">
          <input type="text" class="form-control" placeholder="ID" [(ngModel)]="logbookid">
        </div>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary mybtn" type="button" (click)="showLogbookbyID()">Show by ID</button>
        </div>
      </div>
</div>



<div class="row">
  <div class="col-12">
    <div *ngIf="logbooks">
      <h3>Alle Fahrtenbücher</h3>
        <div class="table-responsive">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Driver</th>
            <th scope="col">Trip ID</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let logbook of logbooks" (click)="onSelect(logbook)">
              <th scope="row">{{logbook.id}}</th>
              <td>{{logbook.driver.name}}</td>
              <td>{{logbook.trips[0].id}}</td>
              <td><a routerLink="/trip/{{logbook.id}}">Details</a></td>
          </tr>
          </tbody>
      </table>
    </div>
    </div>

    <div *ngIf="logbook">
      <h3>Suchergebnisse</h3>
      <div class="table-responsive">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Driver</th>
          <th scope="col">Trip ID</th>
          <th scope="col">Details</th>
        </tr>
      </thead>
      <tbody>
        <tr (click)="onSelect(logbook)">
            <th scope="row">{{logbook.id}}</th>
            <td>{{logbook.driver.name}}</td>
            <td>{{logbook.trips[0].id}}</td>
            <td><a routerLink="/trip/{{logbook.id}}">Details</a></td>
        </tr>
        </tbody>
    </table>
  </div>
  </div>
  </div>
</div>