<!--Component Heading-->
<div class="row">
  <h1>My unconfirmed Trips</h1>
</div>

<!--Table-->
<div class="row">
    <div class="col-12">
      <div *ngIf="uctrips != null">
        <div class="table-responsive">
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Logbook</th>
              <th scope="col">Driver</th>
              <th scope="col">Details</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let trips of uctrips">
                <th scope="row">{{trips.logbook.id}}</th>
                <td>{{trips.logbook.driver.firstName}} {{trips.logbook.driver.lastName}}</td>
                <td><a routerLink="/uctrips-detail/{{trips.id}}">Details</a></td>
            </tr>
            </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>

  <!--Hint for User-->
  <div class="row" *ngIf="uctrips == null">
    <p>You have none unconfirmed trips!</p>
  </div>

