

<button class="btn" (click)="testfunktion()">Trips suchen</button>

<div class="row">
  <div class="col-12">

    <div *ngIf="alletrips">
        <div class="table-responsive">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Customer</th>
            <th scope="col">Driver</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let trip of alletrips" (click)="onSelect(trip)">
              <th scope="row">{{trip.trips[0].id}}</th>
              <td>{{trip.trips[0].customerName}}</td>
              <td>{{trip.driver[0].name}}</td>
              <td><a routerLink="/detail/{{trip.id}}">Details</a></td>
          </tr>
          </tbody>
      </table>
    </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
     <!--<app-trip-detail [trip]="selectedTrip"></app-trip-detail>--> 
  </div>
</div>