.mybtn{
    background-color: transparent;
    color: #6c757d;
    border: 1px solid #6c757d;
    color: white;
}
h1{
    color: white;
}
h3{
    color: white;
}
h4{
    color: white;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    padding: 2px;
    float: left;
}
input{
    width: 150px !important;
    border-radius: 2px;
    border: 1px solid transparent;
}