
<div class="row">
  <div class="col-12">

    <div *ngIf="logbook">
        <div class="table-responsive">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Kunde</th>
            <th scope="col">Projekt</th>
            <th scope="col">KM-Stand Start</th>
            <th scope="col">KM-Stand Ende</th>
            <!--<th scope="col">Details</th>-->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let trip of logbook.trips" (click)="onSelect(trip)">
              <th scope="row">{{trip.id}}</th>
              <td>{{trip.customerName}}</td>
              <td>{{trip.projectName}}</td>
              <td>{{trip.startOdometer}}</td>
              <td>{{trip.endOdometer}}</td>
              <!--<td><a routerLink="/detail/{{logbook.id}}" [queryParams]="{ tripid: trip.id }">Details</a></td>-->
          </tr>
          </tbody>
      </table>
    </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
     <!--<app-trip-detail [trip]="selectedTrip"></app-trip-detail>--> 
  </div>
</div>