<!--Component-Heading-->
<div class="row">
  <h1>Welcome</h1>
</div>

<!--List with Functions-->
<div class="row" >

  <!--Unconfirmed Trips-->
  <div class="col-lg-2 col-sm-4 col-12" *ngIf="ismanager != 'manager' text-center">
    <a routerLink="/uctrips"  ><button type="button" class="btn btn-primary">My unconfirmed Trips</button></a>
  </div>

  <!--Create Logbook-->
  <div class="col-lg-2 col-sm-4 col-12" *ngIf="ismanager == 'manager' text-center">
      <a routerLink="/create-logbook"  ><button type="button" class="btn btn-primary">Create Logbook</button></a>
  </div>

  <!--Create User-->
  <div class="col-lg-2 col-sm-4 col-12" *ngIf="ismanager == 'manager'">
      <a routerLink="/create-user"  ><button type="button" class="btn btn-primary">Create User</button></a>
  </div>

</div>

<!--Dashboard for a Manager-->
<div class="row" *ngIf="ismanager == 'manager'">
  <div class="col-12">
      <div class="card-deck">
          <div class="card bg-primary">
            <div class="card-body text-center">
              <p class="card-text"><b>Logbooks: <br></b><span style="font-size: 200%">{{alllogbooks}}</span></p>
            </div>
          </div>
          <div class="card bg-primary mycard">
            <div class="card-body text-center">
              <p class="card-text"><b>Trips: <br></b><span style="font-size: 200%">{{alltrips}}</span></p>
            </div>
          </div>
          <div class="card bg-primary mycard">
            <div class="card-body text-center">
              <p class="card-text"><b>Business Trips: <br></b><span style="font-size: 200%">{{allbusinesstrips}}</span></p>
            </div>
          </div>
          <div class="card bg-primary">
            <div class="card-body text-center mycard">
              <p class="card-text"><b>Privat Trips: <br></b><span style="font-size: 200%">{{allprivattrips}}</span></p>
            </div>
          </div> 
        </div>>
  </div>
</div>

<!--Dashboard for a employee-->
<div class="row" *ngIf="ismanager != 'manager'">
  <div class="col-12">
      <div class="card-deck">
          <div class="card bg-primary">
            <div class="card-body text-center">
              <p class="card-text"><b>My Trips: <br></b><span style="font-size: 200%">{{mytrips}}</span></p>
            </div>
          </div>
          <div class="card bg-primary mycard">
            <div class="card-body text-center">
              <p class="card-text"><b>Total Distance: <br></b><span style="font-size: 200%">{{myodometer}} KM</span></p>
            </div>
          </div>
          <div class="card bg-primary mycard">
            <div class="card-body text-center">
              <p class="card-text"><b>My Business Trips: <br></b><span style="font-size: 200%">{{mybusinesstrips}}</span></p>
            </div>
          </div>
          <div class="card bg-primary">
            <div class="card-body text-center mycard">
              <p class="card-text"><b>My Privat Trips: <br></b><span style="font-size: 200%">{{myprivatetrips}}</span></p>
            </div>
          </div> 
        </div>
  </div>
</div>