h1{
    color: white;
}

button{
    width: 180px;
    background-color: transparent;
}
p{
    color:white !important;
    font-size: 15px;
}

.row{
    padding-top: 10px !important;
}

.bg-primary{
    background: rgb(48, 66, 104) !important;
    border-top: solid rgb(44, 124, 199) 10px !important;
}