
<button class="btn" (click)="showLogbocks()">Show All</button>
<input type=text [(ngModel)]="logbockid"  placeholder="ID">
<button class="btn" (click)="showLogbockbyID()">Show by ID</button>
<div class="row">
  <div class="col-12">
    <div *ngIf="logbocks">
      <h3>Alle Fahrtenbücher</h3>
        <div class="table-responsive">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Driver</th>
            <th scope="col">Trip ID</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let logbock of logbocks" (click)="onSelect(logbock)">
              <th scope="row">{{logbock.id}}</th>
              <td>{{logbock.driver.name}}</td>
              <td>{{logbock.trips[0].id}}</td>
              <td><a routerLink="/trip/{{logbock.id}}">Details</a></td>
          </tr>
          </tbody>
      </table>
    </div>
    </div>

    <div *ngIf="logbock">
      <h3>Suchergebnisse</h3>
      <div class="table-responsive">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Driver</th>
          <th scope="col">Trip ID</th>
          <th scope="col">Details</th>
        </tr>
      </thead>
      <tbody>
        <tr (click)="onSelect(logbock)">
            <th scope="row">{{logbock.id}}</th>
            <td>{{logbock.driver.name}}</td>
            <td>{{logbock.trips[0].id}}</td>
            <td><a routerLink="/trip/{{logbock.id}}">Details</a></td>
        </tr>
        </tbody>
    </table>
  </div>
  </div>
  </div>
</div>