<div class="card">
    <div class="card-header">Details</div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Start</th>
                  <th scope="col">Ende</th>
                  <th scope="col">Geschäftlich</th>
                  <th scope="col">Kilometerstand Beginn</th>
                  <th scope="col">Kilometerstand Ende</th>
                  <th scope="col">Kunde</th>
                  <th scope="col">Projekt</th>
                  <th scope="col">Fahrer</th>
                </tr>
              </thead>
            <tbody>
              
            </tbody>
          </table>
    </div>
</div>